* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: 'Montserrat', Arial, Helvetica, sans-serif;
   font-size: 13px;
   overflow-x:hidden;
   
   
}
header {
    height: 100px;
    width: 100%;
    background-color:white;
}
.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;

}
.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 7px;
}
.logo img {
    height: 110px;
    width: 150px;
    margin-bottom: 10px;

}
.menu-opener {
    display: none;
}
.menu {
    flex:1;
    display: flex;
    justify-content: flex-end;
    
    
}
.menu ul,
.menu li {
    list-style: none;
    
    
}
.menu ul {
    display: flex;
    
}
.menu li a {
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid white;
    color: black;   
}
.menu li a:hover {
    border-bottom: 5px solid red;
    color:rgba(70, 66, 66, 0.63)
}
.menu .active a {
    border-bottom: 5px solid red;
    color:rgba(70, 66, 66, 0.63)
}
.banner {
    height:calc(100vh - 100px);
    background-color: white;
    background-image: url('../images/iphone_12_PNG22.png');
    background-position: top;
    overflow: hidden;

}
.banner .sliders {
    width: 1000vw;
    height: 100%;
    
}
.banner .slide {
    width: 100vw;
    height: 100%;
    display:inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}
.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}
.banner h1 span {
    color:rgba(255, 43, 43, 0.39);
}
.banner h2 {
    text-transform: uppercase;
    margin-right: 50px;
    margin-top: 20px;
}
.banner a {
    display: block;
    background-color: rgba(255, 43, 43, 0.39);
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 30px;
    margin-top: 30px;
    margin-right: 50px;
    border-radius: 20px;
    
}
.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    margin-left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid rgba(255, 43, 43, 0.39);
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
    
}
.banner .pointer:hover {
    background-color: rgba(255, 43, 43, 0.39);
}
.banner .pointer.active {
    background-color:rgba(255, 43, 43, 0.39) ;
}
.default {
    
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.default .section-title,
.default .section-desc {
    text-align: center;
    margin-right: 20px;
    text-transform: uppercase;
}
.default .section-title {
    font-size: 20px;
    font-weight: 600;
    
    
}
.default .section-desc {
    font-size: 12px;
    font-weight: 600;
    color:#ccc;
    margin-top: 10px;
    margin-bottom: 40px;
}
.default .section-body {
    max-width: 1140px;
    margin: auto;
   
}
.default.light{
    background-color: #f7f7f7;
}
.default.light .section-title,
.default.light .section-body {
    color:#000;
}
.default.dark {
    background-color:black;
}

.default.dark .section-title,
.default.dark .section-body {
    color:white;
}
.button {
    display: inline-block;
    background-color: rgba(219, 42, 42, 0.685) ;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 30px;
    margin-top: 30px;
    margin-right: 50px;
    border-radius: 20px;
}





















/* 
CSS DE AREAS ESPECIFICAS
*/
.section-aboutus {
    display: flex;
}
.section-aboutus--left {
    flex:1;
}
.section-aboutus--left p {
    font-size:15px;
    line-height: 25px;

}
.section-aboutus--right {
    width: 500px;
    text-align: center;
}
.section-aboutus--right img {
    width: 300px;
    height: 250px;
    box-shadow: 0px 5px 10px #333;
}
.section-services {
    display: flex;
}
.section-service {
    flex:1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}
.section-service:first-child {
    border-left: 1px solid #333;
}
.section-service img {
    height: 50px;
    width: 50px;

}
.section-service h4 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    
}
.section-service p {
    font-size: 12px;
    font-weight: 600;
    color:#999;
    margin-top: 10px;
    margin-bottom: 40px;
}
.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.section-projects--filters {
    border:1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
    margin: auto;
    
    
}
.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
  
}
.section-projects--filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color:#555;
    border-bottom:3px solid #eee;
    
}
.section-projects--filters li:hover,
.section-projects--filters li.active {
    border-bottom:3px solid red;
    cursor: pointer;
}
.section-projects--filters li:first-child {
    border-left: 0;
}
.section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects--photos a {
    margin-left: 35px;
}
.section-projects--photo {
    width: 280px;
}
.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section-projects--photoarea img {
    width: 260px;
    height: 160px;
}
.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 260px;
    height: 160px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}
.section-projects--photoinfo h5 {
    font-size: 20px;
    font-weight: 600;
}
.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}

.bg-team {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    margin-right: 0px;
    padding:0;

}
.section-team-area {
    background-color:rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.section-team-area .section-title {
    margin-left: 10px;

}
.section-team-area .section-desc {
    margin-left: 10px;
}
.section-team {
    overflow: hidden;
    max-width: 580px;
    margin: auto;
}
.section-team .sliders {
    width: 100vw;
    height: 100%;

}
.section-team .slide {
    width: 280px;
    height: 100%;
    min-height: 150px;
    display: inline-block;
    background-color: white;
    margin-right: 20px;


}
.section-team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color:black;
    padding: 30px;
}
.section-team-area .sliders-pointers {
    margin-top:30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid rgba(255, 43, 43, 0.39);
    border-radius: 8px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    
}
.section-team-area .pointer:hover {
    background-color: rgba(255, 43, 43, 0.39);
}
.section-team-area .pointer.active {
    background-color:rgba(255, 43, 43, 0.39) ;
}
.section-team--avatar{
    width: 150px;
    height: auto;
}
.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.section-team--role {
    font-size: 14px;
    color:#999;
    margin-top: 5px;
}
.section-team--social {
    display: flex;
    margin-top: 20px;
}
.section-team--social a {
    display:inline-block;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #999;
    border-radius: 13px;
    margin-right: 10px;
}
.section-team--social a:hover {
    background-color:rgba(219, 42, 42, 0.685)  ;
}
.section-team--social a img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5px;
}
.section-clients--happy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.section-clients--happy img {
    width: 150px;
    height: auto;
    
    margin-right: 7px;
}
.section-clients--happy h5 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.section-clients--happy p {
    font-size: 14px;
    color:#999;
    margin-top: 5px;
}
.section-clients--image img {
    height: 20px;
    width: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.section-clients--text {
    flex:1;
}
.section-clients--text p {
    font-size:15px;
    line-height: 30px;
    text-align: center;
    color:#999;
    padding: 7px;
}
.section-clients .sliders-pointers {
    margin-top:30px;
    height: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section-clients .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid rgba(219, 42, 42, 0.685)  ;
    border-radius: 8px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    
}
.section-clients .pointer:hover {
    background-color: rgba(219, 42, 42, 0.685)  ;
}
.section-clients .pointer.active {
    background-color:rgba(219, 42, 42, 0.685)   ;
}
.slide-empresas {
    height: 150px;
    width: 100%;
    background-color: white;
}
.section-empresas {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 5px ;
    margin-left: 5px;
    background-color: white;
    height: 150px;
    width: 100%;
    
}
.section-empresas--logo img {
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-right: 50px ;
    margin-left: 50px;
}
.section-price {
    overflow: hidden;
    width: 1160px;
    margin: auto;
}
.section-price-area {
    margin-bottom: 0px;
}
.section-price .sliders {
    width: 100vw;
    height: 500px;

}
.section-price .slide {
    width: 270px;
    height: 100%;
    display: inline-block;
    justify-content: center;
    align-content: center;
    background-color: white;
    margin-right: 20px;


}
.section-price .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    color:black;
    padding: 30px;
}
.section-price--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
    
}
.section-price--prices {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
}
.section-price--month {
    font-size: 12px;
    color:#999;
    margin-top: 5px;
    text-transform: uppercase;
}
.section-price--social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.section-price--social p {
    line-height: 40px;
}
.section-price--linha {
    height: 1px;
    width: 10px;
    background-color: black;
}
.button-choose {
    display: inline-block;
    background-color: #555 ;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding: 16px 40px;
    height: 50px;
    margin-top: 30px;
    margin-right: 5px;
    border-radius: 20px;
}
.section-price .button-choose:hover {
    background-color: rgba(219, 42, 42, 0.685)  ;
}
.section-price .button-choose.active {
    background-color:rgba(219, 42, 42, 0.685)   ;
}
.slide-premium {
    height: 800px;
    background-color: white;
    padding-top: 35px;
  
}
.section-premium {
    display: flex;
    margin-top: 100px;
    
    
}
.section-premium--left {
    flex:1;
}
.section-premium--left img {
    margin-left: 30px;

}
.section-premium--right {
    width: 600px;
    margin-top: 20px;
    
}
.section-premium--right h5 {
    font-size: 16px;
    text-transform: uppercase;
}
.section-premium--right .maiuscula {
    line-height: 25px;
    color: #999;
    text-transform: uppercase;
    margin-top: 10px;
}
.section-premium--right .minuscula {
    color: #999;
    line-height: 15px;
    margin-top: 10px;
}
.section-premium--mid {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-between;
}
.section-premium--mid img {
    
    height: 30px;
    width: 30px;
    margin-top: 15px;
    margin-right: 20px;
    margin-top: 7px;
}
.section-premium--second {
    margin-top: 30px;
}
.section-premium--three {
    margin-top: 30px;
}
.section-premium--linha {
    height: 1px;
    width: 100%;
    margin-top: 70px;
    background-color: rgb(219, 218, 218);
}
.slide-premium .sliders-pointers {
    margin-top:40px;
    height: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slide-premium .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid rgba(219, 42, 42, 0.685)  ;
    border-radius: 8px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    
}
.slide-premium .pointer:hover {
    background-color: rgba(219, 42, 42, 0.685)  ;
}
.slide-premium .pointer.active {
    background-color:rgba(219, 42, 42, 0.685)   ;
}
.button-get {
    display: flex;
    justify-content: center;
    align-content: center;
}
.button-get a {
    margin-left: 50px;
    width: 180px;
    height: 40px;
    margin-top: 40px;
    text-align: center;
}
.section-facts {
    display: flex;
    margin-left: 30px;
    
    
}
.section-fact {
    flex: 1;
    text-align: center;
    padding: 20px;
    
}
.section-fact h1 {
    margin-top: 20px;
    font-size: 50px;
    color: rgba(219, 42, 42, 0.685);
    font-weight: 600;
    text-transform: uppercase;
    
}
.section-fact h4 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.section-fact p {
    font-size: 12px;
    font-weight: 600;
    color:#999;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 25px;
}
.section-fact--linha {
    height: 2px;
    width: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 110px;
    background-color: #999;
}
.section-share {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    background-color: white;
    color: #999;
}
.section-share--legend {
    display: flex;
    align-items: center;
    margin-right: 40px;
    
}
.section-share--item {
    font-size: 12px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.section-share--item img {
    margin-left: 35px;

}
.section-share--item p {
    margin-left: 20px ;
}
.section-share--icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-share--icon img {
    height: 12px;

}
.section-share--icon.twitter {
    background-color: #34c5f0;
}
.section-share--icon.linkedin {
    background-color: #127cb4;
}
.section-share--icon.facebook {
    background-color: #336297;
}
.section-share--icon.googleplus {
    background-color: #e74237;
}
.section-share--icon.pinterest {
    background-color: #b71c29;
}
form {
    display: block;
}
.section-contact {
    width: 400px;
    margin: auto;
    text-align: center;
}
.section-contact--split {
    display: flex;
}
.section-contact--split input:first-child {
    margin-right: 20px;
}
.section-contact input[type=text], 
.section-contact textarea {
    display: block;
    width: 100%;
    height: 40px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #CCC;
    outline: 0;
    margin-top: 10px;
}
.section-contact textarea {
    height: 100px;
    resize: none;
}
.button-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-contact a {
    margin-left: 50px;
}
.section-map {
    background-image: url('../images/mapa.jpg');
    background-size: cover;
    background-position:center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-map--area {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}
.section-map--info {
    width: 50%;
    padding:30px;
    background-color: white;
    color:black;
}
.section-map--info-item {
    display: flex;
    align-items: center;
    color:#999;
    margin-bottom: 10px;
}
.section-map--info-item-img {
    width: 30px;
    height:30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    background-color: #999;
    border-radius: 15px;
    margin-right: 15px;
}
.section-map--info-item-img img {
    width: 15px;
    height: auto;
}
.section-rodape {
    display: flex;
    margin-bottom: 60px;
    
}
.section-rodape--left {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0px;

}
.section-rodape--img {
    margin-right: 20px;
    background-color: red;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    background-color: #333;
    border-radius: 15px;
    margin-right: 5px;


}
.section-rodape--img img {
    height: auto;
    
}
.section-copy {
    margin-top: 100px;
}
.section-rodape--midle {
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    height: 150px;
    width: 300px;

}
.section-texto--rodape {
    font-size: 14px;
    color: #999;

}
.section-rodape--right {
    width: 400px;
    height: 220px;
    margin-left: 50px;
    background-color: #777;
}
.section-rodape--email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: #ccc;

}
.section-rodape--border {
    height: 2px;
    width: 250px;
    margin-top: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-email {
   display: flex;
   justify-content: center;
   align-items: center;


}
.button-subscribe {
    display: inline-block;
    background-color: rgba(219, 42, 42, 0.685) ;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding: 15px 60px;
    margin-top: 30px;
    margin-right: 0px;
    border-radius: 20px;
}


@media (min-width:450px) and (max-width:800px) {
    .logo {
        margin-left: 30px;
    }
    .menu-opener {
        display: block;
        width: 45px;
        margin-right: 30px;
    }
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul {
        flex-direction: column;
    
    }
    .menu li a {
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        color: white;
        margin-left: 50px;
        border: 0;
    }
    .menu li.active a {
        border: 0;
        color: rgba(219, 42, 42, 0.685);
    }
    .section-aboutus {
        flex-direction: column;
    }
    .section-aboutus--left {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .section-aboutus--right {
        width: auto;
    }
    
    .section-services {
        flex-wrap: wrap;
    }
    .section-service {
        min-width: 50%;
        margin-bottom: 30px;
    }
    .section-service:first-child {
        border-left: 0;
    }
    .section-team {
        max-width: 580px;
    }
    .section-map {
        padding-left: 30px;
        padding-right: 30px;
    }
    .section-map--area {
        width: auto;
    }
    .section-map--info {
        width: auto;
    }
    .section-map--info-item {
        margin-bottom: 20px;
    }
    .section-map--info-item:last-child {
        margin-bottom: 0;
    }
}




@media (max-width:450px) {
    .logo {
        margin-left: 30px;
    }
    .menu-opener {
        display: block;
        width: 45px;
        margin-right: 30px;
    }
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 80vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul {
        flex-direction: column;
    
    }
    .menu li a {
        font-weight: bold;
        height: 60px;
        font-size: 17px;
        color: white;
        margin-left: 30px;
        border: 0;
    }
    .menu li.active a {
        border: 0;
        color: rgba(219, 42, 42, 0.685);
    }
    .banner h1 {
        font-size: 30px;
    }
    .banner h2 {
        font-size: 17px;
        margin-left: 35px;
    }
    .banner a {
        margin-left: 45px;
    }
    .section-aboutus {
        flex-direction: column;
    }
    .section-aboutus--left {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .section-aboutus--right {
        width: auto;
    }
    
    .section-services {
        flex-wrap: wrap;
    }
    .section-service {
        min-width: 100%;
        margin-bottom: 30px;
    }
    .section-service:first-child {
        border-left: 0;
    }
    .section-projects--filters {
        margin-left: 30px;
        margin-right: 30px;
    }
    .section-projects--photo {
        width: 320px;
        margin-left: 40px;
    }
    .section-projects--photoarea {
        width: 300px;
        height: 200px;
    }
    .section-team {
        max-width: 280px;
    }
    .slide {
        margin-bottom: 10px;

    }
    .section-map {
        padding:0;
        padding-bottom: 250px;
    }
    .section-map--area {
        width: auto;
    }
    .section-map--info {
        width: auto;
    }
    .section-map--info-item {
        margin-bottom: 20px;
    }
    .section-map--info-item:last-child {
        margin-bottom: 0;
    }
}